{% extends 'base.html.twig' %}

{% block title %}Hello CarteTuxController!{% endblock %}

{% block main %}
{% if 'ROLE_ADMIN' in app.user.roles %}
<h1>Liste des Cartes</h1>
{% else %}
<h1>Mes Cartes</h1>
{% endif %}

    <table class="table">
        <thead>
            <tr>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                <th>Id</th>
                {% endif %}

                <th>Type</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartestux %}
            <tr>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                <td>{{ carte.id }}</td>
                {% endif %}
                <td>{{ carte.type }}</td>
                <td>{{ carte.description }}</td>
                <td>{{ carte.prix }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
