{% extends 'base.html.twig' %}

{% block title %}New CarteTux{% endblock %}

{% block main %}
    <h1>Créer une Carte Tux</h1>

    {{ include('carte_tux/_form.html.twig') }}

    <a href="{{ path('app_membre_tux_show',{'id':membre_tux.id}) }}" class="btn btn-primary">Retour</a>
{% endblock %}
