{% extends 'base.html.twig' %}

{% block title %}New CarteTux{% endblock %}

{% block main %}
    <h1>Create new CarteTux</h1>

    {{ include('classeur_tux/_form.html.twig') }}

    <a href="{{ path('app_classeur_tux_show',{'id':classeur.id}) }}">back to ClasseurTux</a>
{% endblock %}
