<form method="post" action="{{ path('app_membre_tux_delete', {'id': membre_tux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ membre_tux.id) }}">
    <button class="btn">Delete</button>
</form>
