{% extends 'base.html.twig' %}

{% block title %}ADMIN Membres{% endblock %}

{% block main %}
    <h1>Liste des Membres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre_tux in membre_tuxes %}
            <tr>
                <td>{{ membre_tux.id }}</td>
                <td>{{ membre_tux.pseudo }}</td>
                <td>
                    <a href="{{ path('app_membre_tux_show', {'id': membre_tux.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('app_membre_tux_edit', {'id': membre_tux.id}) }}" class="btn btn-danger">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
