<form method="post" action="{{ path('app_classeur_tux_show', {'id': classeur_tux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classeur_tux.id) }}">
    <button class="btn btn-danger mb-3">Supprimer</button>
</form>
