{% extends 'base.html.twig' %}

{% block title %}Edit ClasseurTux{% endblock %}

{% block main %}
<div class="text-center">
    <h1 class="mb-3">Éditer le classeur "{{ classeur_tux.name }}"</h1>

    {{ include('classeur_tux/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('classeur_tux/_delete_form.html.twig') }}

    <a href="{{ path('app_classeur_tux_show',{'id':classeur_tux.id}) }}" class="btn btn-primary">Retour aux classeurs</a>

</div>
{% endblock %}
