{% extends 'base.html.twig' %}

{% block title %}Hello ClasseurTuxController!{% endblock %}

{% block body %}
      <h1>Classeur</h1>

      {# % dump classeur % #}

      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ classeur.id }}</td>
              </tr>
              <tr>
                <a href="{{ path('classeur_show', {'id': carte.classeur.id}) }}">back to classeurs</a>
              </tr>
              <tr>
                  <th>Cartes</th>
                  <td>
                  <ul>
                  {%  for carte in classeur.cartes %}
                  <li>
                    <a href="{{ path('carte_show', {'id': carte.id}) }}">{{ carte }}</a>                  
                  </li>
                  {% endfor %} {# [inventaire].[objets] #}
                  </ul> 
                  </td>
              </tr>
          </tbody>
      </table>
{% endblock %}
